@import "~bulma";
@import "~bulma-timeline";

$cl-greyEE: #eee;
$cl-redFF: #ff0000;

.container {
  @media (max-width: 1088px) {
    padding: 0 12px;
  }
}
.navbar {
  border-bottom: 1px solid $cl-greyEE;
  margin-bottom: 8px;
  .username {
    &.not-valid {
      border: 1px solid $cl-redFF;
    }
  }
  .navbar-item {
    padding-left: 0;
  }
}
.profile {
  .content {
    margin-top: 10px;
  }
}
.timeline {
  .timeline-item {
    padding-bottom: 1em;
    .content {
      display: flex;
    }
    img {
      height: 25px;
      margin-right: 8px;
    }
  }
}
