@import "~bulma";
@import "~bulma-timeline";

$cl-greyEE: #eee;

.navbar {
  border-bottom: 1px solid $cl-greyEE;
  margin-bottom: 8px;
}

#profile-bio {
  margin-top: 10px;
}

.timeline {
  .timeline-item {
    padding-bottom: 1em;
    .content {
      display: flex;
    }
    img {
      height: 25px;
      margin-right: 8px;
    }
  }
}
